<div class="h-screen bg-bg-base text-text-primary transition-colors duration-300 flex flex-col overflow-hidden">
  <app-incoming-call></app-incoming-call>
  <app-toast></app-toast>
  <app-header></app-header>

  <div class="flex flex-1 overflow-hidden">
    @if (authService.isAuthenticated()) {
    <app-sidebar class="z-40 flex-shrink-0 md:w-64 md:block"></app-sidebar>
    }

    <main class="flex-grow min-w-0 w-full overflow-y-auto overflow-x-hidden bg-bg-base transition-colors">
      <div class="p-4 md:p-8">
        <router-outlet></router-outlet>
      </div>
      @if (!authService.isAuthenticated()) {
      <app-footer></app-footer>
      }
    </main>
  </div>
  <app-chatbot></app-chatbot>
</div>